cpplint
pylint==2.4.4
mypy
black
matplotlib
Image
Pillow<7
packaging
jupyter[notebook]
mxnet==1.6.0
tensorflow
keras==2.4.3
gluoncv
attrs
requests
dgl
setuptools
numpy
pytest
pytest-profiling
pytest-xdist
cython
decorator
scipy
tornado
psutil
six
coremltools
xgboost>=1.1.0
pip==19.3.1
flatbuffers
scikit-image
opencv-python
cffi
h5py<3.0
orderedset
cloudpickle
synr
sphinx
sphinx-gallery==0.4.0
autodocsumm
sphinx_rtd_theme
sphinx_autodoc_annotation
sphinx-serve
commonmark>=0.7.3
docutils>=0.11
protobuf
onnx
onnxruntime
future
torch==1.7.0
torchvision==0.8.1
west
progressbar
tlcpack_sphinx_addon
